#presentacion {
    height: 88vh;
}
body {
    background-color:linen;
}
#icono {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 {
    background-image: url('assets/google.png');
}

#proyecto-2 {
    background-image: url('assets/articulo.png');
}

#proyecto-3 {
    background-image: url('assets/Screenshot\ 2024-08-06\ 201020.png');
}
    
.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

.bg-brand {
    background-color: blueviolet;
}

.text-brand {
    color: blueviolet;
}

.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}